.mask3{
    width: 100%;
    height: 70vh;
    position: relative;
}
.intro-img3{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: fill;
}
.mask3::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4)
}
.hero3{
    width: 100%;
    height: 100%;
}
.hero3 .content3{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 40%;
    left: 50%;
    text-align: center;
}
.hero3 .content3 h1{
    font-size: 2.6rem;
    font-weight: 600;
    font-style: italic;
    padding: 5%;
}
.hero3 .content3 p{
    font-size: 1.8rem;
    font-weight: 500;
    font-style: normal;
}
@media screen and (max-width: 640px){
    .hero3 .content3 h1{
        font-size: 2.5rem;
        margin-bottom: 15%;
        font-weight: 650;
    }
}